<% if @book_comment.errors %>
  <ul>
<% @book_comment.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
  </ul>
  <% end %>



<div class="row">
	<div class="col-md-3">

		<h2>User info</h2>
<%= render 'users/profile', user: @book.user %>

		<h2>New book</h2>
 <%= render 'books/newform', book: Book.new %>
	</div>

	<div class="col-md-9">
		<h2>Book detail</h2>


<div class= 'show_table'>
  <%= render 'books/show', book: @book%>
</div>

<%= render "book_comments/index", book: @book %>





<div class="new-comment">
<%= form_with(model:[@book, @book_comment], remote: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>




	</div>
</div>